body {
  /* font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px; */
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #213a57;
  margin: 0;
  padding: 0;
}

.test {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.chart-container {
  display: flex;
  justify-content: space-between; /* Cách đều các biểu đồ */
  margin-top: 20px;
}

.chart {
  flex: 1; /* Mỗi biểu đồ chiếm 1 phần không gian */
  margin: 0 10px; /* Khoảng cách giữa các biểu đồ */
}

canvas {
  max-width: 100%; /* Đặt chiều rộng tối đa cho mỗi biểu đồ */
  height: 200px; /* Đặt chiều cao cố định cho mỗi biểu đồ */
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='number'] {
  width: 10%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time-input {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-bottom: 15px; /* Khoảng cách dưới cùng */
}

.time-input label {
  margin: 10px 20px; /* Khoảng cách giữa nhãn và ô nhập */
}

button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button1 {
  background-color: #80bae3;
}
.button1:hover {
  background-color: #3684bc;
}

.button2 {
  background-color: #5bb670;
}
.button2:hover {
  background-color: #35a84d;
}

.button3 {
  background-color: #ced065;
}
.button3:hover {
  background-color: #a0b335;
}

h2 {
  color: #333;
  margin-top: 30px;
}

#resultTables {
  margin-top: 20px;
}

.result-container {
  display: flex;
  justify-content: space-between; /* Cách đều các bảng */
  margin-top: 20px;
}

.result-table {
  flex: 1; /* Mỗi bảng chiếm 1 phần không gian */
  margin: 0 10px; /* Khoảng cách giữa các bảng */
}

table {
  width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của div */
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #68a1df;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
